

$mainColor:#192a56;
$secColor:#b71540;
#ascrail2000{
    z-index: 9999 !important;
}
.nicescroll-cursors{
    background-color:$secColor !important;
    border: none !important;
    width: 10px !important;
}
body{
    font-family:  Tahoma, Geneva, Verdana, sans-serif
}
.container{
    max-width: 1300px;
}
.navbar{
    background-color: $mainColor;
    z-index: 4;
    position: fixed;
    width: 100%    
}
.navbar i{
    color:#fff;
    margin-right: 7px
}
.navbar .navbar-brand span:first-of-type{
    font-size: 30px;
    font-weight: bold;
    color:$secColor;
}
.navbar .navbar-brand span:last-of-type{
    font-size: 30px;
    font-weight: bold;
    color:#fff;
}

.navbar-nav .nav-link{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 20px; 
    color: #fff;
    transition: all .4s ease-in-out;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .show>.nav-link{
    color: #fff;
}
.navbar-light .navbar-nav .active>.nav-link
 {
    color: $secColor;
    
}
.navbar-light .navbar-nav .nav-link:hover{
    color: $secColor;
    font-weight: bold;
}
.navbar-nav .dropdown-menu {
    background-color: $mainColor;
}
.dropdown-item {
    color:#fff;
    background-color:$mainColor;  
}
.dropdown-item:focus, .dropdown-item:hover {
    color:$secColor;
    background-color: $mainColor;

}
/*************************Start Slider*************************/
.carousel-inner .carousel-item img{
    width: 100%;
    height: 100%;
    opacity: .8;
}
.carousel-indicators li{
    width:12px;
    height: 12px;
    border-radius: 50%;
    background-color: $secColor;
}

/*************************End Slider******************************/

/*************************Start About us*************************/
.about-us{
    padding: 50px 0 30px 0;  
    position: relative;
}
.about-us .row{
    margin-top: 25px
}
.about-us .row article h4{
    color: $secColor;
    font-size: 25px;
    margin-bottom: 20px;
    letter-spacing: 5px
}
@media(min-width: 768px) and (max-width: 991.98px){
    .about-us .row article h4{
        color: $secColor;
        font-size: 25px;
        margin-bottom: 20px;
        letter-spacing: 0
    }
    .about-us .row article p{
        font-size: 14px;
        width: 100%; 
         
    }
}
.about-us .row article p{
    font-size: 15;
    width: 80%;   
}
.about-us .row article button{
    text-align: center;
    color: #FFF;
    background-color: $mainColor;
    border:1px solid $mainColor; 
    margin-top: 17px;
    margin-bottom: 41px;
}

/*************************End About us**************************/

/*************************Start Offer*************************/
.offer{
    padding: 20px 0;
    position: relative;
    .card{
        background-color: $secColor;
        margin-bottom: 17px;
        img{
            width: 100%;
            height:350px;
        }
        p{
            color: #fff;
            text-align: center;
        }
    }
    
}




/**********************************Start Trainers***********************************/
.trainers{
    padding: 50px 0;
}
.trainers .row .card img{
    width: 100%;
    height: 262px;
}
@media (min-width: 0px) and (max-width: 991.98px){
    .trainers .row .card {
       margin-bottom: 20px;
       
       
    }
}
.trainers .card h5{
    color: $secColor
}
.trainers .card p{
    color: $mainColor;
}
.trainers .card i{
    padding: 10px;
    color: $secColor;
    cursor: pointer;
}
/**********************************End  Trainers***********************************/

/**********************************Start What's New***********************************/
.new{
    padding: 50px 0px ;
}
.new .row{
    padding:  0;
    margin: 0;
}
.new .left{
    background-color: #302B7E;
    padding-left: 62px;
    
}
.new .right{
    background-color: #333333;
    padding-left: 62px;
}
.new h3{
    color: $secColor;
    margin-top: 20px;
    font-size: 35px
}
.new p{
    color: #fff;
    font-size: 22px
}
.new ul{
    color: #fff;
}
.new a{
    text-decoration: none;
    color: $secColor;
    float: right;
    margin-bottom: 20px;
}
.new a i{
    color: #fff
}
 .new ul li::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    margin-right: 10px;
    font-size: 12px;
    color: $secColor;
    position: relative;
    top: -2px;
 }

/**********************************End What's New***********************************/

/**********************************Start contact-us*************************************/
.contact-us{
    position: relative;
    margin-top: 30px;
    padding: 50px 0;
    background-color: $mainColor;
    color: #808080;
    font-size: 14px;
}
.contact-us h3{
    margin-bottom: 20px;
    color: $secColor;
    font-size: 22px;
}
.contact-us li:hover{
    transition: all .3s ease-in-out;
    color: #fff;
}
.contact-us .contact i{
    padding: 15px;
    cursor: pointer;
    margin-bottom: 7px;
    font-size: 17px;
    &:hover{
        color: $secColor;
    }
}
.contact-us .about{
    padding-left: 88px
}
@media (min-width: 0px) and (max-width: 767.98px){
    .contact-us .about{
        padding-left: 15px
    }
}
.contact-us ul li{
    margin-bottom: 1px;
    cursor: pointer;
}
.contact-us .first1,
.contact-us .second2{
    background-color: #0e2358;
    padding: 10px
}
.contact-us .second2{
    margin-top: 20px;
}

/**********************************End contact-us**************************************/

/**********************************Start Footer****************************************/
footer{
    font-size: 14px;
    padding: 20px;
    color: #808080;
    background-color: #0e2358;  
}
footer span{
    word-spacing: 8px;
    cursor: pointer;
}

/*************************************End Footer**************************************/


/************************************* Start Scroll Top********************************/
#scroll-top{

    margin-right: 10px;
    font-size: 60px;
    color: $secColor;
    position: fixed;
    bottom: 54px;
    right: 20px;
    z-index: 9999;
    cursor: pointer;
    display: none;
}
/************************************* EndScroll Top**************************************/


/* ****************************Start My Framework****************************************/
h2{
    margin-bottom: -14px;
    color: $mainColor;
    text-transform: capitalize;
}
.divider{
    margin-left: 6px;
    margin-bottom: 62px;
}
.divider span hr{
    width: 120px;
    height: 1px;
    background: $mainColor;
    display: inline-block;
    margin-bottom: 5px
}

.divider i{
 margin-top: 30px;
 color: $mainColor;
}
/******************************End My Framework**********************************/